/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  width: 100vw;
  height: 100vh;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container {
  display: flex;
  flex-direction: row;
}
.img-property {
  width: 300px;
  height: 300px;
}
.main-heading {
  font-size: 20px;
  font-family: Roboto;
  color: #f8fafc;
}
